<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.azz.android.gms.samples.vision.barcodereader"
    android:installLocation="auto" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="AI QRCode"
        android:theme="@style/MyDialogTheme"
        android:supportsRtl = "true"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui"/>

        <activity
            android:name="com.azze.android.gms.samples.vision.barcodereader.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
